 <nav class="navbar-expand-xl navbar-light navbar fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse " id="navbarsExample06" style="">
      <ul class="navbar-nav mx-auto central-nav-text">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/"> Create </a>
        </li>
      </ul>
    </div>
  </nav>
