<div class="single-book homeContainer container-fluid">
  <div>
    <div class="div_button">
      <a class="a_button" href="/"> Back Home</a>
    </div>
    <section>
      <div class="section_details allAboutBook row">
        <div class="images col-xl-3 col-lg-3 col-md-3 ">
          <img class="img-fluid" src="{{'book.image'}}" alt="">
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9">
          <h2 class="design_titles card-title">{{'book.title'}} </h2>
         <!-- <h4 class="design_titles card-title"> by {{ 'book.authorFirstName' }} {{'book.authorLastName'}} </h4> -->
          <div class="design_details" >
            <p class="book-details card-text"> Pages: {{'book.pages'}} </p>
            <p class="book-details card-text"> Published: {{'book.year'}} </p>
            <p class="book-details card-text"> Genre: {{'book.genre'}} </p>
            <p class="book-details card-text"> Language: {{'book.language'}} </p>
            <p class="book-details card-text"> Rating: {{'book.rating'}} </p>
            <p class="book-details card-text summary"> {{'book.summary'}} </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
