.footer{
    background: #fff;
    border-top: 1px solid #C8C8C8;
    text-align: center;
    width: 100%;
    display: block;
    float:left;
    border-top: 1px solid #999;
    position: relative;
      margin-top: 20px;
      height: 100%;
      clear: both;
}

/* Media */

@media only screen and (max-width: 1200px) {
    .footer ul li {
        display: inline;
        padding: 0 25px;
    }
}

@media only screen and (max-width: 576px) {
        .footer ul li {
            display: block;
            padding: 0;
            margin-bottom: 5px;
        }
}
